.tile img {
  width: 300px;
  height: 300px;
}
@media only screen and (max-width: 600px) {
  .tile img {
    width: 100%;
    height: 100%;
  }

  .row__inner:hover .tile:hover {
    transform: scale(1.5);
    opacity: 1;
  }
}
